profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'sge'
        process.queue = 'long'
        process.memory = '10GB'
    }
    
    conda {
        process.conda = 'environment.yml'
    }
    
    mamba {
        process.conda = 'environment.yml'
        conda.useMamba = true
    
    }


}
